/Cloud_computing_comparison.csv
/coursera3.ipynb
/List of cities in Malta - Wikipedia.csv
/Practice activity Apply the preprocessing tool to a dummy dataset for ML application.ipynb
/Practice Activity Setup of a Basic Data Scraper in Python.ipynb
/preprocessed_dummy_data.csv
/prop_for_sale
/venv